<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: cabeca">
<title>Cadastro</title>
</head>
<body>
	<form name="form" action="salvarpessoa" method="post" th:object="${pessoaobj}">
		<label>ID</label>
		<input id="id" th:field="*{id}" readonly="readonly">
		<label>Nome</label> 
		<input id="nome" th:field="*{nome}"  placeholder="Nome"> 
		<label>Sobrenome</label>
		<input id="sobrenome" th:field="*{sobrenome}" placeholder="Sobrenome">
		<label>Idade</label>
		<input id="idade" type="number" name="idade" th:field="*{idade}" placeholder="Idade">
		<button class="btn waves-effect waves-light" type="submit"> Submit 
		</button>
		<button class="btn waves-effect waves-light" type="button" onclick="limpar()"> Limpar</button>
	</form>
		
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Idade</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pessoa : ${pessoas}">

				<td th:text="${pessoa.id}"></td>
				<td th:text="${pessoa.nome}"></td>
				<td th:text="${pessoa.sobrenome}"></td>
				<td th:text="${pessoa.idade}"></td>
				<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
			<tr>
		</tbody>
	</table>


	
	<script type="text/javascript">
	function limpar(){
		document.getElementById('id').value='';
		document.getElementById('nome').value='';
		document.getElementById('sobrenome').value='';
		document.getElementById('idade').value='';
	}
	</script>
	
	<script th:replace="scriptjs :: script"></script>
</body>
</html>