<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
	
	 <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
	
	
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon/pessoas.png" type="image/x-icon">
<title>Cadastro</title>

<style>
	
#h2{
	text-align:center;
}
body {
	max-width: 500px;
	margin: auto;
	background-size: cover;
	background-image: linear-gradient(to right, purple, blue);
}


#pesquisa{
height: 300px; 
overflow: auto;

}
@media screen and (min-width: 525px) {
	body{
	max-width: 100%;
	height: 100%;
	}
}

@media screen and (min-width: 800px) {
	body{
	width: 80%;
	height: 100%;
	}
}

@media screen and (min-width: 1800px) {
	body{
	max-width: 70%;
	height: 100%;
	}
}


#quadradoprincipal {
	background-color: white;
	padding: 15px;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

#linha{
}

</style>
</head>

<body>
	<div id="quadradoprincipal">
		<h2 sec:authorize="hasRole('ROLE_ADMIN')" style="text-align: center">Cadastro de Funcionário</h2>
		<h2 sec:authorize="!hasRole('ROLE_ADMIN')" style="text-align: center">Visualização de Funcionários</h2>
		<div class="row">
		<br>
		<div th:each="m : ${msg}">
			<p style="text-align: left; color:red" th:text="${m}"> </p>
		</div>
		<br>
			<form id="formpessoa" name="form" action="salvarpessoa" method="post"
				th:object="${pessoaobj}" class="col s12" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_GERENTE')">

				<div class="row">
					<div class="input-fiel col s6">
						<label for="id">ID</label> 
						<input id="id" th:field="*{id}" readonly="readonly">
					</div>

					<div class="input-fiel col s6">
						<label for="nome">Nome</label> 
						<input id="nome" th:field="*{nome}" placeholder="Digite seu nome" class="validate">
					</div>
				</div>
				
					<div class="row">
					<div class="input-fiel col s6">
						<label for="sobrenome">Sobrenome</label> <input id="sobrenome"
							th:field="*{sobrenome}" placeholder="Digite seu sobrenome" class="validate">
					</div>
					
					<div class="input-fiel col s6">
						<label for="idade">Idade</label> <input id="idade" type="number"
							name="idade" placeholder="Digite sua idade" th:field="*{idade}" class="validate">
					</div>
				</div>
				
				<div class="row">
					<div class="input-fiel col s6">
						<label for="sexo" class="active">Sexo</label> 
						<select class="browser-default" th:field="*{sexo}">
							<option value="" selected>--[Selecione]--</option>
							<option value="MASCULINO" th:text="Masculino"/>
							<option value="FEMININO" th:text="Feminino"/>
						</select>
					</div>
					
					<div class="input-fiel col s6" >
						<label for="profissao" class="active">Profissao</label> 
					<select class="browser-default" th:field="*{profissao}" id="profissao">
						<option th:each="p : ${profissoes}" th:value="${p.id}" th:text="${p.nome}"/> 
					</select>
					</div>
					
				</div>
				
				<div class="row">
					<div class="input-fiel col s6">
						<label for="cargo" class="active">Cargo</label> 
							<select class="browser-default" th:field="*{cargo}" id="cargo">
								<option th:each = "c : ${T(com.brenodev.enums.Cargo).values()}" th:value="${c}" th:text="${c.nome}"/>
							</select>
					</div>
					
					<div class="input-fiel col s6" >
						<label for="dataNascimento" class="active">Data de Nascimento</label>
						<input type="date" id="dataNascimento" th:field="*{dataNascimento}" name="dataNascimento"
						placeholder="Data Nascimento">
					</div>
					
				</div>
				
				
				<div class="row">
					<div class="input-fiel col s6">
						<label for="cep" class="active">Cep:</label>
						<input name="cep" class="validate" placeholder="Digite o seu CEP" th:field="*{cep.cep}" id="cep">
					</div>
					
					<div class="input-fiel col s6">
						<label for="rua" class="active">Rua:</label>
						<input name="rua" class="validate" placeholder="-" readonly th:field="*{cep.rua}" id="rua">
					</div>
				</div>
				
				<div class="row">
					<div class="input-fiel col s6">
						<label for="bairro" class="active">Bairro:</label>
						<input name="bairro" class="validate" placeholder="-" readonly th:field="*{cep.bairro}" id="bairro">
					</div>
					
					<div class="input-fiel col s6">
						<label for="cidade" class="active">Cidade:</label>
						<input name="cidade" class="validate" placeholder="-" readonly th:field="*{cep.cidade}" id="cidade">
					</div>
				</div>
				
				<div class="row">
					<div class="input-fiel col s6">
						<label for="uf" class="active">UF:</label>
						<input name="uf" class="validate" readonly placeholder="-" th:field="*{cep.uf}" id="uf">
					</div>
					
					<div class="input-fiel col s6">
						<label for="ibge" class="active">IBGE:</label>
						<input name="ibge" class="validate" readonly placeholder="-" th:field="*{cep.ibge}" id="ibge">
					</div>
				</div>
				
				<div class="row">
					<div class="input field col s12">
						<button class="btn waves-effect waves-light" type="submit">Enviar</button>
						<button class="btn waves-effect waves-light" type="button"
							onclick="document.getElementById('formpessoa').reset()">
							Limpar</button>
					</div>
				</div>
			</form>
		</div>
		<form action="pesquisarpessoa" id="pesquisarpessoa" method="post">
			<label>Pesquisa por nome:</label> <input name="nomepesquisa">
			<button class="btn waves-effect waves-light" type="submit">
				Buscar</button>
			<button class="btn waves-effect waves-light" type="submit" onclick="document.getElementById('pesquisarpessoa').method = 'get'">
			PDF</button>
		</form>

		<br>
		<div id="pesquisa">
			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Sobrenome</th>
						<th>Idade</th>
					</tr>
				</thead>
				<tbody class ="linha">
					<tr th:each="pessoa : ${pessoas}">

						
						<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}">
						<span th:text="${pessoa.nome}"></span></a></td>
						<td th:text="${pessoa.sobrenome}"></td>
						<td th:text="${pessoa.idade}"></td>
						<td><a 
							th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}"
							>Editar</a></td>
						<td><a 
							th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}"
							>Excluir</a></td>
					<tr>
				</tbody>
			</table>
		</div>
	</div>
	<script th:replace="scriptjs :: script"></script>
	<script th:replace="scriptcep :: scriptcep"></script>
</body>
</html>