tbody> tr:nth-child(odd){
	background-color:rgba(158, 154, 154, 0.5);
}

body {
	max-width: 500px;
	text-align: center;
	margin: auto;
	background-size: cover;
	background-image: linear-gradient(to right, purple, blue);
	overflow-y: hidden;
	
}
#quadradoprincipal {
	background-color: white;
	padding: 15px;
	width: 100%;
	border-radius: 10px;
}



#pesquisa{
height: 300px; 
overflow: auto;

}

tbody td {
text-align: center;
}

a {
	text-decoration: none;
}

@media screen and (min-width: 525px) {
	body{
	max-width: 500px
	}
}

@media screen and (min-width: 800px) {
	body{
	width: 800px;
	height: 800px;
	}
}

@media screen and (min-width: 1800px) {
	body{
	max-width: 1200px;
	}
}