#h2{
	text-align:center;
}
body {
	max-width: 500px;
	margin: auto;
	background-size: cover;
	background-image: linear-gradient(to right, purple, blue);
	
}
#quadradoprincipal {
	background-color: white;
	padding: 15px;
	width: 100%;
	border-radius: 10px;
}