table.striped > tbody> tr:nth-child(odd){
	background-color:rgba(158, 154, 154, 0.5);
}

body {
	max-width: 500px;
	text-align: center;
	margin: auto;
	background-size: cover;
	background-image: linear-gradient(to right, purple, blue);
	
}
#quadradoprincipal {
	background-color: white;
	padding: 15px;
	width: 100%;
	border-radius: 10px;
}

#pesquisa{
height: 300px; 
overflow: auto;
}

tbody td {
text-align: center;
}